name: Build CI

on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install Dependencies
        run: npm install -g pnpm && pnpm install

      - name: Check lint
        run: pnpm lint
